In [1]:
import pandas as pd
import numpy as np

# Best Movie of the Year DF

In [2]:
df_moty = pd.read_csv("../Data/Data-2/Best Movie by Year Netflix.csv", index_col='index')

In [3]:
df_moty.head()

                      TITLE  RELEASE_YEAR  SCORE MAIN_GENRE MAIN_PRODUCTION
index
0           White Christmas          1954    7.5    romance              US
1      The Guns of Navarone          1961    7.5        war              US
2              My Fair Lady          1964    7.8      drama              US
3          Bonnie and Clyde          1967    7.7      drama              US
4               Dirty Harry          1971    7.7   thriller              US

In [4]:
df_moty.isnull().sum()

TITLE              0
RELEASE_YEAR       0
SCORE              0
MAIN_GENRE         0
MAIN_PRODUCTION    0
dtype: int64

In [5]:
print(min(df_moty.RELEASE_YEAR.values))
print(max(df_moty.RELEASE_YEAR.values))
print(max(df_moty.RELEASE_YEAR.values)- min(df_moty.RELEASE_YEAR.values))
print(df_moty.RELEASE_YEAR.count())
# There are some years missing

1954
2022
68
49

In [6]:
# DF Description: 
"""
Movies awarded as "Movie of the Year"/Most Voted. With the respective year, score, main genre and production country
"""

'\nMovies awarded as "Movie of the Year"/Most Voted. With the respective year, score, main genre and production country\n'

# Best Movie Netflix

In [7]:
df_bmn = pd.read_csv("../Data/Data-2/Best Movies Netflix.csv", index_col='index')

In [8]:
df_bmn.head()

,TITLE,RELEASE_YEAR,SCORE,NUMBER_OF_VOTES,DURATION,MAIN_GENRE,MAIN_PRODUCTION
index,,,,,,,
0,David Attenborough: A Life on Our Planet,2020,9.0,31180,83,documentary,GB
1,Inception,2010,8.8,2268288,148,scifi,GB
2,Forrest Gump,1994,8.8,1994599,142,drama,US
3,Anbe Sivam,2003,8.7,20595,160,comedy,IN
4,Bo Burnham: Inside,2021,8.7,44074,87,comedy,US

In [9]:
df_bmn.shape

(387, 7)

In [10]:
min(df_bmn['SCORE'])

6.9

In [11]:
df_bmn.isnull().sum()

TITLE              0
RELEASE_YEAR       0
SCORE              0
NUMBER_OF_VOTES    0
DURATION           0
MAIN_GENRE         0
MAIN_PRODUCTION    0
dtype: int64

In [12]:
min(df_bmn['DURATION'].values)
max(df_bmn['DURATION'].values)

np.int64(229)

In [ ]:
# DataFrame Description
""" 
Best Netflix Movies (with a score >= 6.9/10)
Scored, and votes for movie of the year award.
with Duration (mins), genre and production country
"""

' \nBest Netflix Movies (with a score <= 6.9/10)\nScored, and votes for movie of the year award.\nwith Duration (mins), genre and production country\n'

# Best Show By Year

In [14]:
df_bsy = pd.read_csv('../Data/Data-2/Best Show by Year Netflix.csv', index_col='index')

In [15]:
df_bsy.head()

,TITLE,RELEASE_YEAR,SCORE,NUMBER_OF_SEASONS,MAIN_GENRE,MAIN_PRODUCTION
index,,,,,,
0,Monty Python's Flying Circus,1969,8.8,4,comedy,GB
1,Knight Rider,1982,6.9,4,action,US
2,Seinfeld,1989,8.9,9,comedy,US
3,Star Trek: Deep Space Nine,1993,8.1,7,scifi,US
4,Neon Genesis Evangelion,1995,8.5,1,scifi,JP

In [16]:
df_bsy.isnull().sum()

TITLE                0
RELEASE_YEAR         0
SCORE                0
NUMBER_OF_SEASONS    0
MAIN_GENRE           0
MAIN_PRODUCTION      0
dtype: int64

In [17]:
print(min(df_bsy.RELEASE_YEAR.values))
print(max(df_bsy.RELEASE_YEAR.values))
print(max(df_bsy.RELEASE_YEAR.values)- min(df_bsy.RELEASE_YEAR.values))
print(df_bsy.RELEASE_YEAR.count())
# There are some years missing

1969
2022
53
31

# Best Shows Netflix

In [18]:
df_bsn = pd.read_csv('../Data/Data-2/Best Shows Netflix.csv', index_col='index')

In [20]:
df_bsn.head()

,TITLE,RELEASE_YEAR,SCORE,NUMBER_OF_VOTES,DURATION,NUMBER_OF_SEASONS,MAIN_GENRE,MAIN_PRODUCTION
index,,,,,,,,
0,Breaking Bad,2008,9.5,1727694,48,5,drama,US
1,Avatar: The Last Airbender,2005,9.3,297336,24,3,scifi,US
2,Our Planet,2019,9.3,41386,50,1,documentary,GB
3,Kota Factory,2019,9.3,66985,42,2,drama,IN
4,The Last Dance,2020,9.1,108321,50,1,documentary,US

In [21]:
df_bsn.isnull().sum()

TITLE                0
RELEASE_YEAR         0
SCORE                0
NUMBER_OF_VOTES      0
DURATION             0
NUMBER_OF_SEASONS    0
MAIN_GENRE           0
MAIN_PRODUCTION      0
dtype: int64

In [22]:
df_bsn.shape

(246, 8)

In [23]:
min(df_bsn['SCORE'])

7.5

In [29]:
df_bsn['SCORE'].sort_values().value_counts()

SCORE
7.5    27
7.9    25
7.6    24
7.8    21
8.4    20
7.7    16
8.1    15
8.0    14
8.2    14
8.3    14
8.5    14
8.6    11
8.7    11
8.8     7
8.9     4
9.0     3
9.3     3
9.1     2
9.5     1
Name: count, dtype: int64

In [ ]:
# Netflix Shows with a score >= 7.5, with average episode duration and number of seasons, as well as season 1 release year.

# Raw Titles

In [39]:
df_titles = pd.read_csv("../Data/Data-2/raw_titles.csv", index_col='index')

In [40]:
df_titles.head()

,id,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes
index,,,,,,,,,,,,
0,ts300399,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN
1,tm84618,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.3,795222.0
2,tm127384,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,8.2,530877.0
3,tm70993,Life of Brian,MOVIE,1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,392419.0
4,tm190788,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],NaN,tt0070047,8.1,391942.0

In [41]:
df_titles.isnull().sum()

id                         0
title                      1
type                       0
release_year               0
age_certification       2610
runtime                    0
genres                     0
production_countries       0
seasons                 3759
imdb_id                  444
imdb_score               523
imdb_votes               539
dtype: int64

In [42]:
df_titles = df_titles.replace("nan", np.nan)
df_titles.isnull().sum()

id                         0
title                      1
type                       0
release_year               0
age_certification       2610
runtime                    0
genres                     0
production_countries       0
seasons                 3759
imdb_id                  444
imdb_score               523
imdb_votes               539
dtype: int64

In [ ]:
df_titles.age_certification.unique()
# TV-MA = R = 18+
# PG = TV-PG = Parental Guidance
# G = General/All
# TV-Y = Recommended for young children under the age of 6
# TV-Y7 = Recommended for young children 
# NC17 - NotChildren under the age of 17

array(['TV-MA', 'R', 'PG', 'TV-14', 'G', 'PG-13', nan, 'TV-PG', 'TV-Y',
       'TV-G', 'TV-Y7', 'NC-17'], dtype=object)

# Credits

In [46]:
df_credits = pd.read_csv("../Data/Data-2/raw_credits.csv", index_col='index')

In [47]:
df_credits.head()

       person_id       id             name                character   role
index
0           3748  tm84618   Robert De Niro            Travis Bickle  ACTOR
1          14658  tm84618     Jodie Foster            Iris Steensma  ACTOR
2           7064  tm84618    Albert Brooks                      Tom  ACTOR
3           3739  tm84618    Harvey Keitel  Matthew 'Sport' Higgins  ACTOR
4          48933  tm84618  Cybill Shepherd                    Betsy  ACTOR

In [48]:
df_credits.isnull().sum()

person_id       0
id              0
name            0
character    9627
role            0
dtype: int64

In [52]:
df_credits.role.unique()

array(['ACTOR', 'DIRECTOR'], dtype=object)

In [53]:
df_credits.person_id.value_counts()

person_id
38632      30
48004      25
38636      25
1345       25
138        22
           ..
186608      1
1893766     1
746438      1
1342623     1
198649      1
Name: count, Length: 53956, dtype: int64

In [56]:
df_credits.character.value_counts()

character
Self                      1667
Himself                   1237
Herself                    444
Self (archive footage)     327
Dancer                     168
                          ...
Akinola                      1
Akanji's Father              1
Afinni                       1
Dr. Ian Stones               1
Karlene                      1
Name: count, Length: 47125, dtype: int64

In [57]:
df_credits.role.unique()

array(['ACTOR', 'DIRECTOR'], dtype=object)

In [ ]:
# Actors and Directors of movies and their respective play