# BDA Project

- MSc Data Science, FCUL Dec 2024

## Settings

In [1]:
import pandas as pd
import numpy as np
import os
from dotenv import load_dotenv
import time
# db imports
import mysql.connector
from pymongo import MongoClient

In [2]:
load_dotenv('./../mysecrets.env')
PASSWORD = os.getenv('PASSWORD')
IP = os.getenv('IP')

In [3]:
# Database connection parameters
username = 'valente'
password = PASSWORD
host = IP
port = '3306'
database_name = 'DV_student_netlixProject'

In [4]:
def connectMySQL(use_db=True):
    if use_db:
        connection = mysql.connector.connect(
            host=IP,
            user="valente",
            password=PASSWORD,
            database="DV_student_netlixProject",
            autocommit=True
        )
    else:
        connection = mysql.connector.connect(
            host=IP,
            user="valente",
            password=PASSWORD,
            autocommit=True
        )
    return connection

In [5]:
client = MongoClient(f"mongodb+srv://fc64335:{PASSWORD}@fcul.l0hna.mongodb.net/?retryWrites=true&w=majority&appName=FCUL") # YOU SHOULD CHANGE TO YOUR CREDENTIALS AND SERVER INFO, just copy the ones from mongo atlas connect

## Preparing Data

In [6]:
# Load data into pandas
df_titles = pd.read_csv('./../Data/complete_titles.csv')
df_credits = pd.read_csv('./../Data/raw_credits.csv')

In [7]:
# setting feature normalized Titles Table
table_titles = pd.DataFrame()
table_titles[
    [
    'title_id','title_name','release_year',
    'num_seasons','runtime','score_imdb', 'votes_imdb', 'is_awarded',
    'is_best']] = df_titles[[
    'id', 'title', 'release_year',
    'seasons', 'runtime' , 'imdb_score',
    'imdb_votes', 'is_awarded', 'is_best']]

table_titles['is_movie'] = df_titles['type'].apply(lambda x: x == 'MOVIE')

table_titles.head()

,title_id,title_name,release_year,num_seasons,runtime,score_imdb,votes_imdb,is_awarded,is_best,is_movie
0,ts300399,Five Came Back: The Reference Films,1945,1.0,48,NaN,NaN,False,False,False
1,tm84618,Taxi Driver,1976,NaN,113,8.3,795222.0,True,True,True
2,tm127384,Monty Python and the Holy Grail,1975,NaN,91,8.2,530877.0,True,True,True
3,tm70993,Life of Brian,1979,NaN,94,8.0,392419.0,True,True,True
4,tm190788,The Exorcist,1973,NaN,133,8.1,391942.0,True,True,True

In [8]:
# setting feature normalized Persons Table
table_persons = pd.DataFrame()
table_persons['person_id'] = df_credits['person_id']
table_persons['person_name'] = df_credits['name']
table_persons['person_id'] = table_persons['person_id'].drop_duplicates(keep='first')
table_persons = table_persons.dropna()
table_persons.head()

   person_id      person_name
0     3748.0   Robert De Niro
1    14658.0     Jodie Foster
2     7064.0    Albert Brooks
3     3739.0    Harvey Keitel
4    48933.0  Cybill Shepherd

In [9]:
# setting feature normlized Roles Table
table_roles = pd.DataFrame()
table_roles[['title_id','person_id', 'character']] = df_credits[['id', 'person_id', 'character']]
table_roles['is_actor'] = df_credits['role'].apply(lambda x: x == 'ACTOR')
table_roles.head()

  title_id  person_id                character  is_actor
0  tm84618       3748            Travis Bickle      True
1  tm84618      14658            Iris Steensma      True
2  tm84618       7064                      Tom      True
3  tm84618       3739  Matthew 'Sport' Higgins      True
4  tm84618      48933                    Betsy      True

In [10]:
table_genres = pd.DataFrame()
table_countries = pd.DataFrame()

## Database Creation

### Relational MySQL DB Creation

In [11]:
# Drop and recreate the database
connection=connectMySQL(use_db=False)

with connection.cursor() as cursor:
    try:
        cursor.execute(f"DROP DATABASE IF EXISTS {database_name}")
        print(f"Database {database_name} dropped.")
        cursor.execute(f"CREATE DATABASE {database_name}")
        print(f"Database {database_name} created.")
    except mysql.connector.Error as err:
        print(f"Error: {err}")

Database DV_student_netlixProject dropped.
Database DV_student_netlixProject created.

In [12]:
# Drop and recreate the tables
table_names = ['Titles', 'Genres','Countries', 'Roles', 'Persons']

def delete_tables(table_names:list) -> None: 
    with connection.cursor as cursor:
        for table in table_names:
            try:
                cursor.execute(f"DROP TABLE IF EXISTS {table}")
                print(f"Database {table} dropped.")
            except mysql.connector.Error as err:
                print(f"Error: {err}")

In [13]:
# Create Titles table

connection=connectMySQL(use_db=True)

while True:
    try:
        with connection.cursor() as cursor:
            cursor.execute("""
            CREATE TABLE Titles (
                title_id CHAR(10),
                title_name VARCHAR(128) NOT NULL,
                release_year INT NOT NULL,
                media_type_is_movie BOOLEAN NOT NULL,
                show_seasons INT,
                title_runtime INT,
                votes_imdb INT,
                score_imdb FLOAT,
                is_awarded BOOLEAN NOT NULL,
                is_best BOOLEAN NOT NULL,

                PRIMARY KEY (title_id)
            );
            """)
            # Create Genres Table
            cursor.execute( """
            CREATE TABLE Genres(
                Genre_name VARCHAR(50),
                Title_id CHAR(10),

                PRIMARY KEY (Title_id, Genre_name),
                FOREIGN KEY (Title_id) REFERENCES Titles(Title_id)
            );
            """)

            # Create Country Table
            cursor.execute("""
            CREATE TABLE Countries(
                Country_code VARCHAR(10),
                Title_id CHAR(10),

                PRIMARY KEY (Title_id, Country_code),
                FOREIGN KEY (Title_id) REFERENCES Titles(Title_id)
            );
            """)

            # Create Persons Table
            cursor.execute(""" 
            CREATE TABLE Persons(
                person_id INT,
                personName VARCHAR(128) NOT NULL,

                PRIMARY KEY (person_id)
            );
            """)

            # Crate Roles Table
            cursor.execute(""" 
            CREATE TABLE Roles(
                role_id INT AUTO_INCREMENT,
                person_id INT NOT NULL,
                title_id CHAR(10) NOT NULL,
                role_character VARCHAR(1000),
                role_isActor BOOLEAN NOT NULL,

                PRIMARY KEY (role_id),
                FOREIGN KEY (person_id) REFERENCES Persons(person_id),
                FOREIGN KEY (title_id) REFERENCES Titles(title_id)
            );
            """)
            break

    except mysql.connector.Error as err:
        print(err)
        delete_tables(table_names)

### Document MongoDB Creation

In [14]:
client.drop_database("DV_student_netlixProject")
print("Database dropped")
db = client['DV_student_netflixProject']
print("DB Created")

Database dropped
DB Created

In [15]:
# Drop the collection if you need
db['Titles'].drop()
db['Roles'].drop()
db['Persons'].drop()
print("All collections dropped")

All collections dropped

In [16]:
db.create_collection("Titles", validator={
    '$jsonSchema': {
        'bsonType': 'object',
        'required': ['title_id', 'title_name', 'is_movie', 'is_best', 'is_awarded'],
        'properties': {
            'title_id': {
                'bsonType': 'string',
                'description': 'Unique Title Identifier (String). REQUIRED'
            },
            'title_name': {
                'bsonType': 'string',
                'description': 'must be a string and is required'
            },
            'release_year': {
                'bsonType': 'int',
                'minimum': 1900,
                'maximum': 2024,
                'description': 'must be a valid year(INT) if provided'
            },
            'num_seasons': {
                'bsonType': 'int', #### idealy int
                'minimum': 0,
                'description': 'must be a non-negative integer if provided'
            },
            'runtime': {
                'bsonType': 'int',
                'minimum': 0,
                'description': "must be a integer and can't be negative if provided"
            },
            'score_imdb': {
                'bsonType': 'double',
                'minimum': 0,
                'maximum': 10,
                'description': "must be a non-int numeric value and can't be negative if provided"
            },
            'votes_imdb': {
                'bsonType': 'int',
                'minimum': 0,
                'description': "must be a int and can't be negative if provided"
            },
            'is_awarded': {
                'bsonType': 'bool',
                'description': "must be True/False and is required"
            },
            'is_best': {
                'bsonType': 'bool',
                'description': "must be True/False and is required"
            },
            'is_movie': {
                'bsonType': 'bool',
                'description': "must be True/False and is required"
            },
        }
    }
})

Collection(Database(MongoClient(host=['fcul-shard-00-02.l0hna.mongodb.net:27017', 'fcul-shard-00-00.l0hna.mongodb.net:27017', 'fcul-shard-00-01.l0hna.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='FCUL', authsource='admin', replicaset='atlas-r5n8a4-shard-0', tls=True), 'DV_student_netflixProject'), 'Titles')

In [17]:
# Create the Persons collection with data validation
db.create_collection("Persons", validator={
    '$jsonSchema': {
        'bsonType': 'object',
        'required': ['person_id', 'person_name'],
        'properties': {
            'person_id': {
                'bsonType': 'int',
                'description': 'Unique Title Identifier (INT). REQUIRED'
            },
            'title_name': {
                'bsonType': 'string',
                'description': 'must be a string and is required'
            },
        }
    }
})

Collection(Database(MongoClient(host=['fcul-shard-00-02.l0hna.mongodb.net:27017', 'fcul-shard-00-00.l0hna.mongodb.net:27017', 'fcul-shard-00-01.l0hna.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='FCUL', authsource='admin', replicaset='atlas-r5n8a4-shard-0', tls=True), 'DV_student_netflixProject'), 'Persons')

In [18]:
db.create_collection("Roles", validator={
    '$jsonSchema': {
        'bsonType': 'object',
        'required': ['title_id', 'person_id', 'role_isActor'],
        'properties': {
            'title_id': {
                'bsonType': 'string',
                'description': 'Unique identifier for Title (String) at Titles collection. REQUIRED'
            },
            'person_id': {
                'bsonType': 'int',
                'description': 'unique identifier for Person (INT) at Persons collection. Required'
            },
            'character': {
                'bsonType': 'string',
                'description': 'must be string if provided.'
            },
            'role_isActor': {
                'bsonType': 'bool',
                'description': 'must be True/False and is required.'
            },
        }
    }
})

Collection(Database(MongoClient(host=['fcul-shard-00-02.l0hna.mongodb.net:27017', 'fcul-shard-00-00.l0hna.mongodb.net:27017', 'fcul-shard-00-01.l0hna.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='FCUL', authsource='admin', replicaset='atlas-r5n8a4-shard-0', tls=True), 'DV_student_netflixProject'), 'Roles')

## Inserting Data into Database

### Relational MySQL DB Inserting Data

In [19]:
for row in table_titles.iloc: # Adding Data to Titles Table
    title_id, title_name, release_year, num_seasons, runtime, score_imdb, votes_imdb, is_awarded, is_best, is_movie = row

    query = """
INSERT INTO Titles (title_id, title_name, release_year, media_type_is_movie, show_seasons, title_runtime, votes_imdb, score_imdb, is_awarded, is_best)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""
    with connection.cursor() as cursor:
        cursor.execute(query, (str(title_id),
                            str(title_name),
                            int(release_year),
                            bool(is_movie),
                            int(num_seasons) if not np.isnan(num_seasons) else None,
                            int(runtime) if not np.isnan(runtime) else None, 
                            int(votes_imdb) if not np.isnan(votes_imdb) else None,
                            float(score_imdb) if not np.isnan(score_imdb) else None,
                            bool(is_awarded),
                            bool(is_best)))

In [20]:
for row in table_persons.iloc: # Adding Data to Persons Table

    person_id, person_name = row

    query = "INSERT INTO Persons (person_id, personName) VALUES (%s, %s)"
    
    with connection.cursor() as cursor:
        cursor.execute(query, (int(person_id),
                            str(person_name)))

In [21]:
for row in table_roles.iloc: # Adding Data to Roles Table
    title_id, person_id, character, role = row
    query = """ 
INSERT INTO Roles (person_id, title_id, role_character, role_isActor)
VALUES (%s,%s,%s,%s)
"""
    with connection.cursor() as cursor:
        cursor.execute(query, (int(person_id),
                            str(title_id),
                            str(character),
                            bool(role)))

In [22]:
connection.commit() # Commit Changes to DB

### Document MongoDB Inserting Data

In [23]:
# gettinda data ready to be inserted in to Titles Collection
def remove_nan_values(entry):
    return {key: value for key, value in entry.items() if pd.notna(value)}

table_titles['title_id'] = table_titles['title_id'].apply(lambda x: str(x) if pd.notna(x) else None)
table_titles['title_name'] = table_titles['title_name'].apply(lambda x: str(x) if pd.notna(x) else None)

table_titles['num_seasons'] = table_titles['num_seasons'].where(pd.notna(table_titles['num_seasons']), None)
table_titles['num_seasons'] = table_titles['num_seasons'].fillna(0).astype(int)
table_titles['num_seasons'] = table_titles['num_seasons'].replace(0, None)

table_titles['votes_imdb'] = table_titles['votes_imdb'].where(pd.notna(table_titles['votes_imdb']), None)
table_titles['votes_imdb'] = table_titles['votes_imdb'].fillna(0).astype(int)
table_titles['votes_imdb'] = table_titles['votes_imdb'].replace(0, None)

table_titles['score_imdb'] = table_titles['score_imdb'].where(pd.notna(table_titles['score_imdb']), None)
table_titles['score_imdb'] = table_titles['score_imdb'].fillna(0).astype(float)
table_titles['score_imdb'] = table_titles['score_imdb'].replace(0, None)

In [24]:
collection_titles = db["Titles"]
initial_count_titles = collection_titles.count_documents({})
print(f"# documents: {initial_count_titles}")

try:
    data_dict = table_titles.where(pd.notna(table_titles), None).to_dict(orient="records")
    data_dict = [remove_nan_values(entry) for entry in data_dict]
    result = collection_titles.insert_many(data_dict, ordered=False)
    valid_count = collection_titles.count_documents({}) - initial_count_titles
    print(f"{valid_count} documents inserted.")

except Exception as e:
    attempted_count = len(data_dict)
    valid_count = collection_titles.count_documents({}) - initial_count_titles
    print(f"{valid_count} documents inserted")
    print(f"{attempted_count - valid_count} documents failed to insert")

print(f"# documents: {collection_titles.count_documents({})}")

# documents: 0
5805 documents inserted
1 documents failed to insert
# documents: 5805

In [25]:
table_persons['person_id'] = table_persons['person_id'].astype(int)
collection_persons = db["Persons"]

In [26]:
initial_count_persons = collection_persons.count_documents({})
print(f"# documents: {initial_count_persons}")

try:
    data_dict = table_persons.where(pd.notna(table_persons), None).to_dict(orient="records")
    data_dict = [remove_nan_values(entry) for entry in data_dict]
    result = collection_persons.insert_many(data_dict, ordered=False)
    valid_count = collection_persons.count_documents({}) - initial_count_persons
    print(f"{valid_count} documents inserted.")

except Exception as e:
    attempted_count = len(data_dict)
    valid_count = collection_persons.count_documents({}) - initial_count_persons
    print(f"{valid_count} documents inserted")
    print(f"{attempted_count - valid_count} documents failed to insert")

# documents: 0
53956 documents inserted.

In [27]:
table_roles['character'] = table_roles['character'].astype(str)
table_roles['is_actor'] = table_roles['is_actor'].astype(bool)
collection_roles = db["Roles"]

In [28]:
table_roles.columns

Index(['title_id', 'person_id', 'character', 'is_actor'], dtype='object')

In [29]:
initial_count_roles = collection_roles.count_documents({})
print(f"# documents: {initial_count_roles}") 
try:
    data_dict = table_roles.where(pd.notna(table_roles), None).to_dict(orient="records")
    result = collection_roles.insert_many(data_dict, ordered=False)
    valid_count = collection_roles.count_documents({}) - initial_count_roles
    print(f"{valid_count} documents inserted.")

except Exception as e:
    attempted_count = len(data_dict)
    valid_count = collection_roles.count_documents({}) - initial_count_roles
    print(f"{valid_count} documents inserted")
    print(f"{attempted_count - valid_count} documents failed to insert")

# documents: 0
0 documents inserted
77213 documents failed to insert

### Running All preparation for non-relational MongoDB

Known Error: In Document MongoDB Insertind Data the data in collection Roles isn't inserting and ther wasn't enough time to fix this bug.

Thankfully the code was working on a smaller file and that code, when copy pasted in its entirety works.

In [30]:
import pandas as pd
import time
df_titles = pd.read_csv('../Data/complete_titles.csv')
df_credits = pd.read_csv('../Data/raw_credits.csv')
table_titles = pd.DataFrame()
table_genres = pd.DataFrame()
table_countries = pd.DataFrame()
table_persons = pd.DataFrame()
table_roles = pd.DataFrame()
table_titles[['title_id',
              'title_name',
              'release_year',
              'num_seasons',
              'runtime',
              'score_imdb',
              'votes_imdb',
              'is_awarded',
              'is_best']] = df_titles[['id', 'title', 'release_year','seasons', 'runtime' , 'imdb_score', 'imdb_votes', 'is_awarded', 'is_best']]
table_titles['is_movie'] = df_titles['type'].apply(lambda x: x == 'MOVIE')
table_persons['person_id'] = df_credits['person_id']
table_persons['person_name'] = df_credits['name']
table_persons['person_id'] = table_persons['person_id'].drop_duplicates(keep='first')
table_persons = table_persons.dropna()
table_roles[['title_id','person_id', 'character']] = df_credits[['id', 'person_id', 'character']]
table_roles['role_isActor'] = df_credits['role'].apply(lambda x: x == 'ACTOR')

In [31]:
from pymongo import MongoClient, ASCENDING, DESCENDING
import pandas as pd
import numpy as np
import os
from dotenv import load_dotenv

load_dotenv('./../mysecrets.env')
PASSWORD = os.getenv('PASSWORD')
IP = os.getenv('IP')

client = MongoClient(f"mongodb+srv://fc64335:{PASSWORD}@fcul.l0hna.mongodb.net/?retryWrites=true&w=majority&appName=FCUL") # YOU SHOULD CHANGE TO YOUR CREDENTIALS AND SERVER INFO, just copy the ones from mongo atlas connect
client.drop_database("DV_student_netlixProject")
print("Database dropped")
db = client['DV_student_netflixProject']
# # Drop the collection if you need
db['Titles'].drop()
db['Roles'].drop()
db['Persons'].drop()
print("All collections dropped")

db.create_collection("Titles", validator={
    '$jsonSchema': {
        'bsonType': 'object',
        'required': ['title_id', 'title_name', 'is_movie', 'is_best', 'is_awarded'],
        'properties': {
            'title_id': {
                'bsonType': 'string',
                'description': 'Unique Title Identifier (String). REQUIRED'
            },
            'title_name': {
                'bsonType': 'string',
                'description': 'must be a string and is required'
            },
            'release_year': {
                'bsonType': 'int',
                'minimum': 1900,
                'maximum': 2024,
                'description': 'must be a valid year(INT) if provided'
            },
            'num_seasons': {
                'bsonType': 'int', #### idealy int
                'minimum': 0,
                'description': 'must be a non-negative integer if provided'
            },
            'runtime': {
                'bsonType': 'int',
                'minimum': 0,
                'description': "must be a integer and can't be negative if provided"
            },
            'score_imdb': {
                'bsonType': 'double',
                'minimum': 0,
                'maximum': 10,
                'description': "must be a non-int numeric value and can't be negative if provided"
            },
            'votes_imdb': {
                'bsonType': 'int',
                'minimum': 0,
                'description': "must be a int and can't be negative if provided"
            },
            'is_awarded': {
                'bsonType': 'bool',
                'description': "must be True/False and is required"
            },
            'is_best': {
                'bsonType': 'bool',
                'description': "must be True/False and is required"
            },
            'is_movie': {
                'bsonType': 'bool',
                'description': "must be True/False and is required"
            },
        }
    }
})
table_titles['title_id'] = table_titles['title_id'].apply(lambda x: str(x) if pd.notna(x) else None)
table_titles['title_name'] = table_titles['title_name'].apply(lambda x: str(x) if pd.notna(x) else None)

table_titles['num_seasons'] = table_titles['num_seasons'].where(pd.notna(table_titles['num_seasons']), None)
table_titles['num_seasons'] = table_titles['num_seasons'].fillna(0).astype(int)
table_titles['num_seasons'] = table_titles['num_seasons'].replace(0, None)

table_titles['votes_imdb'] = table_titles['votes_imdb'].where(pd.notna(table_titles['votes_imdb']), None)
table_titles['votes_imdb'] = table_titles['votes_imdb'].fillna(0).astype(int)
table_titles['votes_imdb'] = table_titles['votes_imdb'].replace(0, None)

table_titles['score_imdb'] = table_titles['score_imdb'].where(pd.notna(table_titles['score_imdb']), None)
table_titles['score_imdb'] = table_titles['score_imdb'].fillna(0).astype(float)
table_titles['score_imdb'] = table_titles['score_imdb'].replace(0, None)
def remove_nan_values(entry):
    return {key: value for key, value in entry.items() if pd.notna(value)}
collection_titles = db["Titles"]
initial_count_titles = collection_titles.count_documents({})
print(f"# documents: {initial_count_titles}")

try:
    data_dict = table_titles.where(pd.notna(table_titles), None).to_dict(orient="records")
    data_dict = [remove_nan_values(entry) for entry in data_dict]
    result = collection_titles.insert_many(data_dict, ordered=False)
    valid_count = collection_titles.count_documents({}) - initial_count_titles
    print(f"{valid_count} documents inserted.")

except Exception as e:
    attempted_count = len(data_dict)
    valid_count = collection_titles.count_documents({}) - initial_count_titles
    print(f"{valid_count} documents inserted")
    print(f"{attempted_count - valid_count} documents failed to insert")

print(f"# documents: {collection_titles.count_documents({})}") 
# Create the Persons collection with data validation
db.create_collection("Persons", validator={
    '$jsonSchema': {
        'bsonType': 'object',
        'required': ['person_id', 'person_name'],
        'properties': {
            'person_id': {
                'bsonType': 'int',
                'description': 'Unique Title Identifier (INT). REQUIRED'
            },
            'title_name': {
                'bsonType': 'string',
                'description': 'must be a string and is required'
            },
        }
    }
})
table_persons['person_id'] = table_persons['person_id'].astype(int)
collection_persons = db["Persons"]
initial_count_persons = collection_persons.count_documents({})
print(f"# documents: {initial_count_persons}")

try:
    data_dict = table_persons.where(pd.notna(table_persons), None).to_dict(orient="records")
    data_dict = [remove_nan_values(entry) for entry in data_dict]
    result = collection_persons.insert_many(data_dict, ordered=False)
    valid_count = collection_persons.count_documents({}) - initial_count_persons
    print(f"{valid_count} documents inserted.")

except Exception as e:
    attempted_count = len(data_dict)
    valid_count = collection_persons.count_documents({}) - initial_count_persons
    print(f"{valid_count} documents inserted")
    print(f"{attempted_count - valid_count} documents failed to insert")

print(f"# documents: {collection_persons.count_documents({})}") 
db.create_collection("Roles", validator={
    '$jsonSchema': {
        'bsonType': 'object',
        'required': ['title_id', 'person_id', 'role_isActor'],
        'properties': {
            'title_id': {
                'bsonType': 'string',
                'description': 'Unique identifier for Title (String) at Titles collection. REQUIRED'
            },
            'person_id': {
                'bsonType': 'int',
                'description': 'unique identifier for Person (INT) at Persons collection. Required'
            },
            'character': {
                'bsonType': 'string',
                'description': 'must be string if provided.'
            },
            'role_isActor': {
                'bsonType': 'bool',
                'description': 'must be True/False and is required.'
            },
        }
    }
})
table_roles['character'] = table_roles['character'].astype(str)
collection_roles = db["Roles"]
initial_count_roles = collection_roles.count_documents({})
print(f"# documents: {initial_count_roles}") 
try:
    data_dict = table_roles.where(pd.notna(table_roles), None).to_dict(orient="records")
    result = collection_roles.insert_many(data_dict, ordered=False)
    valid_count = collection_roles.count_documents({}) - initial_count_roles
    print(f"{valid_count} documents inserted.")

except Exception as e:
    attempted_count = len(data_dict)
    valid_count = collection_roles.count_documents({}) - initial_count_roles
    print(f"{valid_count} documents inserted")
    print(f"{attempted_count - valid_count} documents failed to insert")

print(f"# documents: {collection_roles.count_documents({})}")

Database dropped
All collections dropped
# documents: 0
5805 documents inserted
1 documents failed to insert
# documents: 5805
# documents: 0
53956 documents inserted.
# documents: 53956
# documents: 0
77213 documents inserted.
# documents: 77213

## Query Databases with&without optimization

### Relational MySQL Queries

In [32]:
query_1_SQL = []
query_2_SQL = []
query_3_SQL = []
query_4_SQL = []

#### Query 1

Get Average Movie of the Year Runtime

##### No Index

In [33]:
connection = connectMySQL()
cursor = connection.cursor()
query_1 = "SELECT AVG(title_runtime) FROM Titles WHERE is_awarded = 1 AND media_type_is_movie = 1;"

start_time = time.time()
cursor.execute(query_1)
end_time = time.time()
result = cursor.fetchone()
cursor.close()
connection.close()

print("MOTY Average Runtime:",result[0], "time:", end_time - start_time)
query_1_SQL.append(end_time - start_time)

MOTY Average Runtime: 129.9592 time: 0.001508951187133789

##### With Index

Using Hash Index because we are working with set values and not with operations that would involve iterating trough the data. 
Not only this but the query doesn't involve any operation that loops through all data comparing values.

In [34]:
connection = connectMySQL()
cursor = connection.cursor()

index_query_1 = "CREATE INDEX index_isAwardedMovie ON Titles (is_awarded, media_type_is_movie) USING HASH;"

try:
    print(f"Running: {index_query_1}")
    cursor.execute(index_query_1)
    print("Index Created Successfully")
except mysql.connector.Error as err:
    print(f"Error creating indexes: {err}")

start_time = time.time()
cursor.execute(query_1)
end_time = time.time()
result = cursor.fetchone()

cursor.close()
connection.close()

print("MOTY Average Runtime:",result[0], "time:", end_time - start_time)
query_1_SQL.append(end_time - start_time)

Running: CREATE INDEX index_isAwardedMovie ON Titles (is_awarded, media_type_is_movie) USING HASH;
Index Created Successfully
MOTY Average Runtime: 129.9592 time: 0.0005090236663818359

#### Query 2

Get Highest Scored Movie released in 2020 that hasn't been awarded

##### NoIndex

In [35]:
connection = connectMySQL()
cursor = connection.cursor()
query_2 = """
SELECT title_name, score_imdb, release_year FROM Titles
WHERE is_awarded = 0 AND media_type_is_movie = 1 AND release_year = 2020
ORDER BY score_imdb DESC LIMIT 1;"""
start_time = time.time()
cursor.execute(query_2)
end_time = time.time()
result = cursor.fetchone()
cursor.close()
connection.close()

print(f"""
Movie: {result[0]}
Release Year: {result[2]}
IMDB Score: {result[1]}
Execution Time > {end_time-start_time}
""")
query_2_SQL.append(end_time - start_time)

Movie: Sky Tour: The Movie
Release Year: 2020
IMDB Score: 8.8
Execution Time > 0.004181623458862305

##### With Index

For this query, even though at first glance it seems to be a situation in which using a hash index would be prefereable, we are going to use b-tree index.\
This is because the query uses an operation that will loop and compare all items, sorting them and presenting them in descending order.

In [36]:
connection = connectMySQL()
cursor = connection.cursor()
index_query_2 = "CREATE INDEX index_AwardedMovieScore2020 ON Titles (is_awarded, media_type_is_movie, release_year, score_imdb DESC);"

try:
    print(f"Running: {index_query_2}")
    cursor.execute(index_query_2)
    print("Index Created Successfully")
except mysql.connector.Error as err:
    print(f"Error creating indexes: {err}")

start_time = time.time()
cursor.execute(query_2)
end_time = time.time()
result = cursor.fetchone()
cursor.close()
connection.close()

print(f"""
Movie: {result[0]}
Release Year: {result[2]}
IMDB Score: {result[1]}
Execution Time > {end_time-start_time}
""")
query_2_SQL.append(end_time - start_time)

Running: CREATE INDEX index_AwardedMovieScore2020 ON Titles (is_awarded, media_type_is_movie, release_year, score_imdb DESC);
Index Created Successfully

Movie: Sky Tour: The Movie
Release Year: 2020
IMDB Score: 8.8
Execution Time > 0.0005977153778076172

#### Query 3

Find the Actor with the most roles in Awarded Movies

##### No Index

In [37]:
connection = connectMySQL()
cursor = connection.cursor()
query_3 = """
SELECT pTable.personName, COUNT(rTable.role_id) AS role_count
FROM Roles rTable
JOIN Persons pTable ON rTable.person_id = pTable.person_id      -- Join Persons PK to Roles FK (person_id)
JOIN Titles tTable ON rTable.title_id = tTable.title_id         -- Join Titles PK to Roles FK (title_id)
WHERE rTable.role_isActor = 1 AND tTable.is_awarded = 1         -- Filthers Actor & Awarded
GROUP BY pTable.personName                                      -- Apply to Person Name
ORDER BY role_count DESC                                        -- Top to Bottom
LIMIT 1;
"""
start_time = time.time()
cursor.execute(query_3)
end_time = time.time()
result = cursor.fetchone()
cursor.close()
connection.close()

print(f"""
Actor: {result[0]}
Role Count: {result[1]}
Execution Time > {end_time-start_time}
""")
query_3_SQL.append(end_time - start_time)

Actor: Aamir Khan
Role Count: 5
Execution Time > 0.004640102386474609

##### With Index

As query-3 is the first complex querie we will be debunking the elements to index for clarity.

- The target operations for our querie will be the WHERE, JOIN and GROUP/ORDER BY operations.
1. Starting in Roles Table where we simply "merge" all relevant features into a single index.
2. In Titles Table. Here we index the WHERE clause and the title id.
3. On Persons Table we simply index the name/id into feature.

All these indexes are BTree indexes (MySQL default) because we are not looking any particular condition but rather the first element of an ordered list.

In [38]:
indexes = [
    "CREATE INDEX index_ActorKeys ON Roles (role_isActor, title_id, person_id);",
    "CREATE INDEX index_AwardedTitles ON Titles (is_awarded, title_id);",
    "CREATE INDEX index_Person ON Persons (person_id, personName);"
]

connection = connectMySQL()
cursor = connection.cursor()

try:
    for index_query in indexes:
        print(f"Running: {index_query}")
        cursor.execute(index_query)
except mysql.connector.Error as err:
    print(f"Error creating indexes: {err}")

start_time = time.time()
cursor.execute(query_3)
end_time = time.time()
result = cursor.fetchone()
cursor.close()
connection.close()

print(f"""
Actor: {result[0]}
Role Count: {result[1]}
Execution Time > {end_time-start_time}
""")
query_3_SQL.append(end_time - start_time)

Running: CREATE INDEX index_ActorKeys ON Roles (role_isActor, title_id, person_id);
Running: CREATE INDEX index_AwardedTitles ON Titles (is_awarded, title_id);
Running: CREATE INDEX index_Person ON Persons (person_id, personName);

Actor: Aamir Khan
Role Count: 5
Execution Time > 0.003952741622924805

#### Query 4

Find Actor with the highest average title IMDB score before the year of 2010 and their titles total runtime.

##### No Index

In [39]:
connection = connectMySQL()
cursor = connection.cursor()
query_4 = """
SELECT p.personName AS actor_name, COUNT(r.role_id) AS role_count,AVG(t.score_imdb) AS avg_imdb_score, AVG(t.title_runtime)
FROM Roles r
JOIN Titles t ON r.title_id = t.title_id
JOIN Persons p ON r.person_id = p.person_id
WHERE r.role_isActor = 1
AND t.score_imdb IS NOT NULL
AND t.release_year < 2010
AND t.media_type_is_movie = 1
GROUP BY r.person_id
HAVING role_count > 1
ORDER BY avg_imdb_score DESC
LIMIT 1
"""
start_time = time.time()
cursor.execute(query_4)
end_time = time.time()
result = cursor.fetchone()
cursor.close()
connection.close()

print(f"Actor Name: {result[0]},\nTotal Runtime: {result[1]},\nAverage Score: {result[2]},\nTotal Titles: {result[3]}")
print("Time >", end_time-start_time)
query_4_SQL.append(end_time - start_time)

Actor Name: Leo Stransky,
Total Runtime: 2,
Average Score: 8.300000190734863,
Total Titles: 154.0000
Time > 0.013838529586791992

##### With Index

This 4th and final query is relatively simmilar to query 3 so we will skip the index explanation.\
All indexes are BTree indexes as we will be ordering the average score in the end.

In [40]:
connection = connectMySQL()
cursor = connection.cursor()

indexes = [
    "CREATE INDEX index_TitleYearScoreTime ON Titles (release_year, title_runtime, score_imdb, title_id);",
    "CREATE INDEX index_RolesIDs ON Roles (title_id, person_id);",
    "CREATE INDEX index_Person ON Persons (person_id, personName);" # Already created in query_3
]

try:
    for index_query in indexes:
        print(f"Running: {index_query}")
        cursor.execute(index_query)
except mysql.connector.Error as err:
    print(f"Error creating indexes: {err}")

start_time = time.time()
cursor.execute(query_4)
end_time = time.time()
result = cursor.fetchone()
cursor.close()
connection.close()

print(f"Actor Name: {result[0]},\nTotal Runtime: {result[1]},\nAverage Score: {result[2]},\nTotal Titles: {result[3]}")
print("Time >", end_time-start_time)
query_4_SQL.append(end_time - start_time)

Running: CREATE INDEX index_TitleYearScoreTime ON Titles (release_year, title_runtime, score_imdb, title_id);
Running: CREATE INDEX index_RolesIDs ON Roles (title_id, person_id);
Running: CREATE INDEX index_Person ON Persons (person_id, personName);
Error creating indexes: 1061 (42000): Duplicate key name 'index_Person'
Actor Name: Leo Stransky,
Total Runtime: 2,
Average Score: 8.300000190734863,
Total Titles: 154.0000
Time > 0.012212038040161133

### Document MongoDB Queries

In [41]:
query_1_MongoDB = []
query_2_MongoDB = []
query_3_MongoDB = []
query_4_MongoDB = []

In [42]:
personIndexes = collection_persons.index_information()
print(personIndexes)
rolesIndexes = collection_roles.index_information()
print(rolesIndexes)
titleIndexes = collection_titles.index_information()
print(titleIndexes)

{'_id_': {'v': 2, 'key': [('_id', 1)]}}
{'_id_': {'v': 2, 'key': [('_id', 1)]}}
{'_id_': {'v': 2, 'key': [('_id', 1)]}}

#### Query 1

Get Average Movie of the Year Runtime

##### No Index

In [43]:
query_1 = [
    {
        '$match': {
            'is_awarded': True,
            'is_movie': True,
            'runtime': {'$exists': True, '$ne': None}  # runtime exists and != None
        }
    },
    {
        '$group': {
            '_id': None,
            'averageRuntime': {'$avg': '$runtime'}
        }
    },
    {
        '$project': {
            '_id': 0,  # Don't show _id in result
            'averageRuntime': 1
        }
    }
]
start_time = time.time()
results = list(collection_titles.aggregate(query_1))
end_time = time.time()
print("MOTY Average Runtime:",results[0]['averageRuntime'], "time:", end_time - start_time)
query_1_MongoDB.append(end_time - start_time)

MOTY Average Runtime: 129.9591836734694 time: 0.03772711753845215

##### With Index

In [44]:
collection_titles.create_index([('is_awarded', ASCENDING),
                                ('is_movie', ASCENDING),
                                ('runtime', ASCENDING)])
print(collection_titles.index_information())

start_time = time.time()
results = list(collection_titles.aggregate(query_1))
end_time = time.time()

print("MOTY Average Runtime:", results[0]['averageRuntime'], "time:", end_time - start_time)
query_1_MongoDB.append(end_time-start_time)

{'_id_': {'v': 2, 'key': [('_id', 1)]}, 'is_awarded_1_is_movie_1_runtime_1': {'v': 2, 'key': [('is_awarded', 1), ('is_movie', 1), ('runtime', 1)]}}
MOTY Average Runtime: 129.9591836734694 time: 0.035134315490722656

In [45]:
# checking indexes used by the query
explain_output = collection_titles.database.command('aggregate', 'Titles', pipeline=query_1, explain=True)
explain_output['stages'][0]['$cursor']['queryPlanner']['winningPlan']['queryPlan']['inputStage']['inputStage']['keyPattern']

{'is_awarded': 1, 'is_movie': 1, 'runtime': 1}

#### Query 2

Get Highest Scored Movie released in 2020 that hasn't been awarded

##### No Index

In [46]:
query_2 = [
    {
        '$match': {
            'is_awarded': False,
            'is_movie': True,
            'release_year': 2020,
        },
    },
    {
        '$sort': {
            'score_imdb': -1
        },
    },
    {
        '$limit': 1
    },
    {
        '$project': {
            '_id':0,
            'title_name':1,
            'release_year':1,
            'score_imdb':1,
        }
    }
]

start_time = time.time()
results = list(collection_titles.aggregate(query_2))
end_time = time.time()
print("Name:", results[0]['title_name'], "\nScore:", results[0]['score_imdb'], "\nTime:", end_time-start_time)
query_2_MongoDB.append(end_time - start_time)

Name: Sky Tour: The Movie
Score: 8.8
Time: 0.04177069664001465

##### With Index

In [47]:
db.Titles.create_index([('is_awarded', ASCENDING), 
                        ('is_movie', ASCENDING), 
                        ('release_year', ASCENDING),
                        ('score_imdb', DESCENDING)]) # Descending because clause $sort sets score_imdb to check in desc order
print(collection_titles.index_information()['is_awarded_1_is_movie_1_release_year_1_score_imdb_-1'])

start_time = time.time()
results = list(collection_titles.aggregate(query_2))
end_time = time.time()

print("Name:", results[0]['title_name'], "\nScore:", results[0]['score_imdb'], "\nTime:", end_time-start_time)
query_2_MongoDB.append(end_time-start_time)

{'v': 2, 'key': [('is_awarded', 1), ('is_movie', 1), ('release_year', 1), ('score_imdb', -1)]}
Name: Sky Tour: The Movie
Score: 8.8
Time: 0.03464317321777344

In [48]:
explain_output = collection_titles.database.command('aggregate', 'Titles', pipeline=query_2, explain=True)
explain_output['queryPlanner']['winningPlan']['inputStage']['inputStage']['inputStage']['keyPattern']

{'is_awarded': 1, 'is_movie': 1, 'release_year': 1, 'score_imdb': -1}

#### Query 3

Find the Actor with the most roles in Awarded Movies

##### No Index

Both Complex queries were taking more time but they are using some of the indexes already created.\
We chose to not remove the indexes before running both complex queries as they were having some issues with Timeout because of the time they were taking to execute and because the with/without index is still noticeable after optimizing for the specific query.

In [49]:
query_3 = [
    {
        "$match": {
            'role_isActor': True  # Filter for roles where the person is an actor
        }
    },
    { 
        '$lookup': {
            'from': 'Titles',  # Join Titles collection
            'localField': 'title_id',  # Match on title_id from Roles Collection
            'foreignField': 'title_id',  # Match on title_id from Titles Collection
            'as': 'titleInfo'  # Store result as titleInfo
        }
    },
    {
        '$unwind': '$titleInfo'  # Unwind the array of titleInfo to work with individual documents
    },
    {
        "$match": {
            'titleInfo.is_awarded': True  # Filter only awarded titles
        }
    },
    {
        '$group': {
            '_id': '$person_id',  # Group by person_id
            'num_roles': {'$sum': 1},  # Count the number of roles for each person
            'total_runtime': {'$sum': '$titleInfo.runtime'}  # Sum the runtime of all their titles
        }
    },
    {
        '$sort': {
            'num_roles': -1  # Sort by the number of roles in descending order
        }
    },
    {
        '$limit': 1  # Limit the result to only the person with the highest number of roles
    },
    {
        '$lookup': {
            'from': 'Persons',  # Join with Persons collection to get the actor's name
            'localField': '_id',  # Match on person_id from grouped result
            'foreignField': 'person_id',  # Match on person_id in Persons collection
            'as': 'personInfo'  # Store result as personInfo
        }
    },
    {
        '$unwind': '$personInfo'  # Unwind the array of personInfo
    },
    {
        '$project': {
            '_id': 0,  # Exclude the default _id field
            'person_name': '$personInfo.person_name',  # Include the actor's name
            'num_roles': 1,  # Include the number of roles
            'total_runtime': 1  # Include the total runtime of all awarded titles
        }
    }
]

start_time = time.time()
results = list(collection_roles.aggregate(query_3))
end_time = time.time()
print("Top Person:", results[0]['person_name'], "| Role Count:", results[0]['num_roles'], "Time:", end_time-start_time)
query_3_MongoDB.append(end_time - start_time)

Top Person: Aamir Khan | Role Count: 5 Time: 15.364397048950195

##### With Index

In [50]:
db.Roles.create_index([
    ('role_isActor', ASCENDING), # 1st $match
    ('title_id', ASCENDING), # roles/titles $lookup
    ('person_id', ASCENDING), # roles/persons $lookup
    ])

db.Titles.create_index([
    ('title_id', ASCENDING), #roles/titles $lookup
    ('is_awarded', ASCENDING), # 2nd match
])

db.Persons.create_index([('person_id', ASCENDING)]) #roles/persons $lookup

print(collection_roles.index_information()['role_isActor_1_title_id_1_person_id_1'])
print(collection_titles.index_information()['title_id_1_is_awarded_1'])
print(collection_persons.index_information()['person_id_1'])

start_time = time.time()
results = list(collection_roles.aggregate(query_3))
end_time = time.time()
print("Top Person:", results[0]['person_name'], "| Role Count:", results[0]['num_roles'], "Time:", end_time-start_time)
query_3_MongoDB.append(end_time - start_time)

{'v': 2, 'key': [('role_isActor', 1), ('title_id', 1), ('person_id', 1)]}
{'v': 2, 'key': [('title_id', 1), ('is_awarded', 1)]}
{'v': 2, 'key': [('person_id', 1)]}
Top Person: Aamir Khan | Role Count: 5 Time: 5.747889995574951

#### Query 4

Find Actor with the highest average title IMDB score before the year of 2010 and their titles total runtime.

##### No Index

In [51]:
query_4 = [
    {
        "$lookup": {
            "from": "Titles",  # Join Titles collection
            "localField": "title_id",
            "foreignField": "title_id",
            "as": "title_details"
        }
    },
    {
        "$unwind": "$title_details"  # Unwind the array from $lookup
    },
    {
        "$lookup": {
            "from": "Persons",  # Join Persons collection
            "localField": "person_id",
            "foreignField": "person_id",
            "as": "person_details"
        }
    },
    {
        "$unwind": "$person_details"  # Unwind the array from $lookup
    },
    {
        "$match": {  # Apply filters to match the conditions
            "role_isActor": True,
            "title_details.is_movie": True,
            "title_details.release_year": {"$lt": 2010},
            "title_details.runtime": {"$ne": None},
            "title_details.is_awarded": False,  # You can adjust this condition as needed
            "title_details.score_imdb": {"$ne": None}
        }
    },
    {
        "$group": {  # Group by person_id and calculate averages and counts
            "_id": "$person_id",
            "actor_name": {"$first": "$person_details.person_name"},
            "role_count": {"$sum": 1},
            "avg_imdb_score": {"$avg": "$title_details.score_imdb"},
            "avg_runtime": {"$avg": "$title_details.runtime"}
        }
    },
    {
        "$match": {  # Filter for actors with more than one role
            "role_count": {"$gt": 1}
        }
    },
    {
        "$sort": {  # Sort by average IMDb score (descending)
            "avg_imdb_score": -1
        }
    },
    {
        "$limit": 1  # Limit to only the top actor
    }
]

try:
    start_time = time.time()
    results = list(collection_roles.aggregate(query_4))
    end_time = time.time()
except:
    start_time = 0
    end_time = 5*60
    results = [{'actor_name': None,
               'role_count': None,
                'avg_imdb_score': None,
                'avg_runtime': None}]

for actor in results:
    print(f"Actor: {actor['actor_name']}")
    print(f"Number of Roles: {actor['role_count']}")
    print(f"Average IMDb Score: {actor['avg_imdb_score']}")
    print(f"Average Runtime: {actor['avg_runtime']}")
    print(f'Execution Time > {end_time - start_time}')


query_4_MongoDB.append(end_time - start_time)

Actor: Kamal Haasan
Number of Roles: 2
Average IMDb Score: 8.3
Average Runtime: 160.0
Execution Time > 8.356596946716309

##### With Index

In [52]:
db.Roles.create_index([ # already used in query 3
    ('role_isActor', ASCENDING), 
    ('title_id', ASCENDING),     
    ('person_id', ASCENDING),    
])

db.Titles.create_index([
    ('title_id', ASCENDING),     
    ('is_movie', ASCENDING),     
    ('release_year', ASCENDING), 
    ('score_imdb', ASCENDING),   
])

db.Persons.create_index([ # already used in query 3
    ('person_id', ASCENDING),           
])

'person_id_1'

In [53]:
print(collection_roles.index_information()['role_isActor_1_title_id_1_person_id_1'])
print(collection_titles.index_information()['title_id_1_is_movie_1_release_year_1_score_imdb_1'])
print(collection_persons.index_information()['person_id_1'])

{'v': 2, 'key': [('role_isActor', 1), ('title_id', 1), ('person_id', 1)]}
{'v': 2, 'key': [('title_id', 1), ('is_movie', 1), ('release_year', 1), ('score_imdb', 1)]}
{'v': 2, 'key': [('person_id', 1)]}

In [54]:
start_time = time.time()
results = list(collection_roles.aggregate(query_4))
end_time = time.time()

for actor in results:
    print(f"Actor: {actor['actor_name']}")
    print(f"Number of Roles: {actor['role_count']}")
    print(f"Average IMDb Score: {actor['avg_imdb_score']}")
    print(f"Average Runtime: {actor['avg_runtime']}")
    print(f'Execution Time > {end_time - start_time}')


query_4_MongoDB.append(end_time - start_time)

Actor: Kamal Haasan
Number of Roles: 2
Average IMDb Score: 8.3
Average Runtime: 160.0
Execution Time > 8.770503282546997

# Results

In [55]:
# Relational Queries
print('MySQL query exe Times[noIndex, Index]')
print()
print(query_1_SQL)
print(query_2_SQL)
print(query_3_SQL)
print(query_4_SQL)

MySQL query exe Times[noIndex, Index]

[0.001508951187133789, 0.0005090236663818359]
[0.004181623458862305, 0.0005977153778076172]
[0.004640102386474609, 0.003952741622924805]
[0.013838529586791992, 0.012212038040161133]

In [56]:
print('MongoDB query exe Times[noIndex, Index]')
print(query_1_MongoDB)
print(query_2_MongoDB)
print(query_3_MongoDB)
print(query_4_MongoDB)

MongoDB query exe Times[noIndex, Index]
[0.03772711753845215, 0.035134315490722656]
[0.04177069664001465, 0.03464317321777344]
[15.364397048950195, 5.747889995574951]
[8.356596946716309, 8.770503282546997]